@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

// Служебная обводка
@mixin obvodka( $color: red) {
  outline: 2px solid $color;
  outline-offset: -2px;
}
