/* здесь используйте глобальные переменные */
// цвета стайл-гайда
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_green-3: #65a93c;
$basic_grey: #f2f2f2;
$basic_grey-2: #ebebeb;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #ff8282;

// стандартные цвета
$white: #ffffff;
$black: #000000;

// цвета макета
$black-1: #111111;
$grey-2: #d3d3d3;
$grey-3: #eaeaea;
$grey-4: #d9d9d9;
$grey-5: #e6e6e6;
$grey-6: #e7e7e7;
$grey-7: #bababa;
$grey-8: #b3b3b3;
$grey-9: #6b6b6b;
$grey-10: #bdbdbd;
$grey-11: #bebebe;

$green-1: #8ec36d;
$green-2: #d2e9c3;
$green-3: #c9e1bb;
$green-4: #9ecc82;

//$grey-8: #b2b2b2;
//$grey-9: #b8b8b8;
//$grey-10: #919191;
//$grey-11: #dcdcdc;


// цвет тени в mixins.scss
$grey-shadow: #c4c4c4;

// Основной и дополнительный фонт
$font-main: "Oswald", "arial", sans-serif;
$font-add: "Lato", "arial", sans-serif;


// Реальные брейкпойнты
$tablet-width: 768px;
$mobile-width-only: ($tablet-width - 1px);
$desktop-width: 1440px;
$tablet-width-only: ($desktop-width - 1px);
