.advertise-slider {
  margin: 1px;
}
// .advertise-slider__before {
// }
// .advertise-slider__after {
// }

.advertise-slider__range {
  width: 57px;
  height: 334px;
  position: relative;
  transition: 0.2s ease-in-out;
  color: $special_dark-grey-2;
  border: none;
  padding: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    border-radius: 4px;
    height: 100%;
    background-color: $special_dark-grey-2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: 0.2s ease-in-out;
  }

  &:hover {
    color: $basic_green;
  }

  &:hover::before {
    background-color: $basic_green;
  }

  &:active {
    color: $basic_green-2;
  }

  &:active::before {
    background-color: $basic_green-2;
  }
}
