// .append {}

.append__header {
  display: inline;
  padding: 0 20px;
  margin: 20px 0;
  font-size: 24px;
  line-height: 26px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.append__list {
  padding: 0;
  // margin: 0;
}

// .append__item {}

// .append__input {}

.append__label {
  text-transform: uppercase;
}
