.label-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  label {
    font-size: 18px;
    flex-shrink: 0;
  }

  input {
    margin-left: 13px;
    flex-grow: 1;
    min-width: 20px;
    height: 45px;
    font-size: 18px;
    border: 1px solid $grey-6;
  }
}

// .label-input--mail {}


// .label-input--phone {}
