// .main-container {}

.main-container__title {
  margin-top: 27px;
  margin-bottom: 0;
  padding-bottom: 41px;
  color: $black;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    padding-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}

.main-container__subtitle {
  margin-top: -4px;
  margin-bottom: 39px;
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-top: -30px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}
