.main-nav {
  @media (min-width: $tablet-width) {
    width: 56.77%;  // 436/768
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-left: 135px;
  }
}

// .main-nav__toggle {}

// .main-nav__wrapper {}

.main-nav__list {
  padding: 0;
  margin: 18px 0;
}
