.owner {
  position: relative;
  margin: 20px 0 0;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.owner__header {
  position: absolute;
  top: 5px;
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  background-color: $white;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-left: 30px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.owner__wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 73px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 81px;
    padding-bottom: 70px;
  }
}

.owner__line {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: var(--bgi);
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--width);
    height: var(--height);
    top: 16px;
    right: 14px;
    transition: 0.3s ease-in-out;
  }

  &--email {
    --width: 17px;
    --height: 13px;
    --bgi: url("../../images/icons/stack.svg#icon-mail");
  }

  &--phone {
    --width: 15px;
    --height: 15px;
    --bgi: url("../../images/icons/stack.svg#icon-phone");
  }
}

// .owner__phone {}
