.pads {
  ul {
    padding: 0;
    // margin: 0;
  }

  li {
    list-style: none;
  }
}

.pads__header {
  font-size: 24px;
  line-height: 24px;
  display: inline;
  padding: 0 20px;
  margin: 20px 0;
  color: $black;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

// .pads__list {}

// .pads__item {}
