.programs {
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
  font-size: 20px;
  line-height: 20px;
  }
}

.programs__form {}

.programs__about {}

.programs__cat {}

.programs__line {}

.programs__owner {}

.programs__buttons {}

.programs__comments {}

.programs__append {}

.programs__button {}

.programs__hint {}
