.promo {
  color: $white;
  background-color: $green-1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $black;
    background-color: $white;
  }
}

.promo__header {
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__glass {}

.promo__programm {}
