.radio-buttons {
  padding-bottom: 19px;
  border-bottom: 1px solid $grey-4;

  // margin: 0;
  text-transform: uppercase;

  li {
    list-style: none;
  }
}

// .radio-buttons__item {}

// .radio-buttons__input {}

// .radio-buttons__label {}
