.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-bottom: 19px;
  text-transform: uppercase;
  border-bottom: 1px solid $grey-4;

  li {
    list-style: none;
  }
}

// .radio-buttons__item {}

// .radio-buttons__input {}

// .radio-buttons__label {}
