.show-all {

}

.show-all__wrapper {}
.show-all__card {
}

.show-all__more {
  text-transform: uppercase;
  color: $black-1;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.show-all__sub {
  color: $special_dark-grey;
  font-family: $font-add;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
.show-all__order {
  &.button {
    color: $special_dark-grey;
    background-color: $basic_grey;
  }
}

