.show-all {
  @media (min-width: $tablet-width) {
    margin-top: 103px;
    border: 1px solid $grey-4;
  }

  @media (min-width: $desktop-width) {
    margin-top: 98px;
  }
}

.show-all__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    top: -38px;
    left: calc(50% - 15px);
    background-color: $grey-2;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 80px;
      left: calc(50% - 30px);
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 30px;
    top: -53px;
    left: 50%;
    background-color: $grey-2;

    @media (min-width: $tablet-width) {
      height: 60px;
      top: 50px;
    }
  }
}

.show-all__card {
  text-align: center;
}

.show-all__more {
  margin-top: 78px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: $black-1;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.show-all__sub {
  margin-top: 0;
  margin-bottom: 21px;
  color: $special_dark-grey;
  font-family: $font-add;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.show-all__order {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
