.site-list {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: $black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  a {
    color: inherit;

    @media (min-width: $desktop-width) {
      color: $white;
    }
  }

  li {
    list-style: none;
  }
}

.site-list__item {
  &--active {
    @media (min-width: $tablet-width) {
      border-bottom: 1px solid $basic_green;
    }

    @media (min-width: $desktop-width) {
      border-bottom-color: $white;
    }
  }
}

// .site-list__link {}

// .site-list__link--active {}
