.special-card {
  color: $special_dark-grey;
  font-family: $font-add;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.special-card__svg {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
}

.special-card__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;

  &--leaf {
    width: 25px;
    height: 28px;
  }

  &--powder {
    width: 26px;
    height: 27px;
  }

  &--eat {
    width: 25px;
    height: 30px;
  }

  &--clock {
    width: 26px;
    height: 31px;
  }
}
