.special {
  position: relative;
  margin-bottom: 49px;
  background-color: $white;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    margin-bottom: 69px;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 37px;
      column-gap: 153px;
    }

    @media (min-width: $desktop-width) {
      column-gap: 0;
      justify-content: space-between;
    }
  }

  li {
    list-style: none;

    @media (min-width: $tablet-width) {
      max-width: 249px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $grey-5;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.special__header {
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 40px;
}

.special__list {
  margin: 0;
}

